@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-br from-purple-500 to-purple-800;
}
.btn {
  @apply text-center py-3 rounded-full bg-gradient-to-r from-purple-500 to-purple-800 text-white;
}
.btn:hover {
  @apply bg-white text-gradient border-2 border-purple-600;
}

@layer utilities {
  .z-1 {
    z-index: -1;
  }
  .h-570 {
    height: 570px;
  }
  .w-500 {
    width: 500px;
  }
  .min-h-570 {
    min-height: 570px;
  }
  .min-w-24 {
    min-width: 6rem;
  }
  .w-371 {
    width: 371px;
  }
  .w-689 {
    width: 689px;
  }
  .alert {
    width: 279px;
  }
  @screen md {
    .alert {
      width: 488px;
    }
  }
  .bg-50 {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .wave {
    background: url('./assets/img/abs.png') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
  .wave-purple {
    background: url('./assets/img/purple.png') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
  .sh-card {
    box-shadow: -24px -24px 48px #fafbff, 24px 24px 48px #a6abbd;
  }
  .pulsing {
    animation: pulsing 1s infinite;
    animation-duration: 1s;
  }
  .pulsing-border {
    animation: pulsing-border 1s infinite;
    animation-duration: 1s;
  }
  @keyframes pulsing {
    from {
      width: 0px;
      height: 0px;
    }
    50% {
      width: 74px;
      height: 37px;
    }
    to {
      width: 0px;
      height: 0px;
    }
  }
  @keyframes pulsing-border {
    from {
      border-width: 8px;
    }
    50% {
      border-width: 0;
    }
    to {
      border-width: 8px;
    }
  }
}
